.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
  margin-bottom: 20px;
}

.nav__menu a {
  color: #808dad;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.nav__menu a:hover {
  color: #FFBE0B;
}

.nav__menu a:first-child {
  color: #FFBE0B;
}

.footer__creator h6 {
  text-align: right;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.852);
}

.footer__copyright {
  border-top: 1px solid #808dad49;
}
.footer__copyright p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .footer__top {
    display: none;
  }
}


.social__links {
  display: flex;
  column-gap: 1rem;
  color: #808dad !important;
  font-size: 1.3rem !important;
  cursor: pointer;
  padding-left: 60%;
}

@media only screen and (max-width: 768px) {
  .social__links {
    margin-bottom: 30px;
  }
}

.contact__info__list {
  list-style: none;

}

.info__item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
  column-gap: 1rem;
}

.info__item p {
  margin-bottom: 0; 
  padding-right: 20px;
}

.info__item span i {
  color: #FFBE0B;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  background: #ffbe0b29;
}